In [62]:
import pandas as pd
import re
pd.set_option('display.max_colwidth', None)

In [34]:
blues = pd.read_csv("song_files/blues_100.csv")

In [35]:
blues.head()

,Song,Artist,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Hoochie Coochie Man,Muddy Waters,NaN,NaN,NaN,NaN
1,The Thrill is Gone,B.B. King,NaN,NaN,NaN,NaN
2,Me And The Devil Blues,Robert Johnson,NaN,NaN,NaN,NaN
3,Stone Crazy,Buddy Guy,NaN,NaN,NaN,NaN
4,I’d Rather Go Blind,Etta James,NaN,NaN,NaN,NaN

In [36]:
# Drop columns
blues.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5'], inplace=True)

In [37]:
blues.head()

                     Song          Artist
0     Hoochie Coochie Man    Muddy Waters
1      The Thrill is Gone       B.B. King
2  Me And The Devil Blues  Robert Johnson
3             Stone Crazy       Buddy Guy
4     I’d Rather Go Blind      Etta James

In [38]:
country = pd.read_csv("song_files/country_100.csv")

In [39]:
# Drop columns
country.drop(columns=['Unnamed: 2'], inplace=True)

In [40]:
country.head()

          ARTIST                        TITLE
0  Tammy Wynette            Stand by Your Man
1   George Jones  He Stopped Loving Her Today
2    Patsy Cline                        Crazy
3    Johnny Cash                 Ring of Fire
4  Hank Williams          Your Cheatin' Heart

In [41]:
# Rename Columns
country.columns = ["Artist", "Song"]

In [42]:
# reorder columns
country = country[["Song", "Artist"]]

In [43]:
country.head()

                          Song         Artist
0            Stand by Your Man  Tammy Wynette
1  He Stopped Loving Her Today   George Jones
2                        Crazy    Patsy Cline
3                 Ring of Fire    Johnny Cash
4          Your Cheatin' Heart  Hank Williams

In [44]:
hiphop = pd.read_csv("song_files/hiphop_100.csv")

In [45]:
# Stip unecessary quotes
hiphop["Song"] = hiphop.Song.apply(lambda x: x.strip('"'))

In [46]:
hiphop.head()

                      Song                                  Artist
0          Fight the Power                            Public Enemy
1         Rapper's Delight                      The Sugarhill Gang
2  Nuthin' but a 'G' Thang                                 Dr. Dre
3            Walk This Way                              Run-D.M.C.
4              The Message  Grandmaster Flash and the Furious Five

In [47]:
punk = pd.read_csv("song_files/punk_50.csv")

In [48]:
punk.head()

                                           Title  Artist
0               1. Blitzkrieg Bop…Ramones (1976)     NaN
1    2. Anarchy in the U.K....Sex Pistols (1976)     NaN
2       3. God Save the Queen…Sex Pistols (1977)     NaN
3             4. London Calling…The Clash (1979)     NaN
4  5. Holiday in Cambodia...Dead Kennedys (1980)     NaN

In [49]:
# Rename columns
punk.columns = ["Song", "Artist"]

In [50]:
# Remove year from song
punk["Song"] = punk.Song.apply(lambda x: x[:-6])

In [51]:
# Remove number at beginning of Song column
punk["Song"] = punk.Song.apply(lambda x: x.split('. ')[1:])
punk["Song"] = punk.Song.apply(lambda x: x[0])

In [52]:
# Select Artist (note all elipses were the same...)
def elipses(x):
    if '....' in x:
        return(x.split('....')[-1])
    elif '...' in x:
        return(x.split('...')[-1])
    elif '….' in x:
        return(x.split('….')[-1])
    else:
        return(x.split('…')[-1])

punk["Artist"] = punk.Song.apply(elipses)
punk["Artist"] = punk.Artist.apply(lambda x: x.strip())

In [53]:
def song(x):
    if '....' in x:
        return(x.split('....')[0])
    elif '...' in x:
        return(x.split('...')[0])
    elif '….' in x:
        return(x.split('….')[0])
    else:
        return(x.split('…')[0])
    
punk["Song"] = punk.Song.apply(song)

In [54]:
punk.head()

                  Song         Artist
0       Blitzkrieg Bop        Ramones
1   Anarchy in the U.K    Sex Pistols
2   God Save the Queen    Sex Pistols
3       London Calling      The Clash
4  Holiday in Cambodia  Dead Kennedys

In [55]:
rock = pd.read_csv("song_files/rock_100.csv")

In [56]:
# Rename Columns
rock.columns = ["Artist", "Song"]

In [57]:
# Rearrange Columns
rock = rock[["Song", "Artist"]]

In [58]:
rock.head()

                   Song              Artist
0          Satisfaction  The Rolling Stones
1               Respect     Aretha Franklin
2    Stairway to Heaven        Led Zeppelin
3  Like a Rolling Stone           Bob Dylan
4           Born to Run   Bruce Springsteen

In [59]:
# Combine dataframes
combined_df = rock.append(punk)
combined_df = combined_df.append(blues)
combined_df = combined_df.append(hiphop)
combined_df = combined_df.append(country)

In [64]:
def replace_tick(x):
    return re.sub('`', "'", x)


combined_df["Artist"] = combined_df.Artist.apply(replace_tick)

In [65]:
combined_df.to_csv("song_files/combined.csv",index=False)